<html>
    <head>
        <title>Yolov5_face_recognition</title>
        {% include 'bootstrap.html' %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="text-center mt-2 mb-4">
            <h1>  NITESH SHARMA  </h1>
            <p> My Name is Nitesh Sharma. I am an MCA student and Aspiring Data Sciencist. Build some end to end Project using my knowledge and skill of python and thier libraries.
                <div class="mb-2">
                    <strong>Salary Prediction web app</strong>
                    <li>Utilized machine learning algorithms (Logistic Regression) to build a predictive model for <strong> Salary Prediction </strong>. Implemented the model in Python and achieved an accuracy of <strong> 81% on test data. </strong></li>
                    <li>Train Many Classfication machine learning algorithms like Random forest classifier, Kneighbors classifier, etc on train data before using <strong> logistic Regression. </strong></li>
                    <li>use Flask for an API, Streamlit for user Interaction, containerised using docker, CI/CD using github action and <strong> Deployed on AWS Cloud. </strong></li>
                </div>

                <div class="mb-2">
                    <strong>Face Recognition</strong>
                    <li>Build an <strong> yolov5 Custom model </strong> on data of <strong>my own face</strong> and train model on it. For face Recognition.</li>
                    <li>create an web application using python and deployed it. </li>
                </div>

                <div class="mb-2">
                    <strong>Netflix Movie Recommendation  </strong>
                    <li>Utilized natural language processing (nltk) to build a <strong>Recommendation system of netflix movies and shows</strong>. recommendation similar type of movies and shows as per your input.</li>
                    <li>recommend movies and shows as per your gernes your provides.</li>
                </div>

                <div class="mb-2">
                    <strong>Data Analysis </strong>
                    <li>Conducted a data analysis of <strong>Ken jee youtube data </strong> to identify trends and patterns like </li>
                    <li>What types of video titles and thumbnailsdrive the most traffic. </li>
                    <li>Maximum no. of subs gain on a video.</li>
                    <li>Top 10 viewed videos.</li>
                    <li>Presented findings and created visualizations using Matplotlib.</li>
                </div>

            </p>
        </div>
    
        {% include 'footer.html' %}
    </body>
</html>