
<html>
    <head>
        <title>Yolov5_face_recognition</title>
    </head>
    <body>

        <!--<form action="/video" method="post">
            <input type="radio" name="model" value="my_face_recognition_model" required />
            <label for="custom_model"> my_face_recognition_model </label><br>
            <input type="radio" name="model" value="yolov5s" required />
            <label for="pretrain_model"> yolov5s </label><br>
            <input type="submit" value="start detection" required />
        
        </form> -->

        <h1> Live Streaming </h1>

        <img src="{{ url_for('video') }}" width="80%"/>
       
        
    </body>
</html>


